@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Nunito:400,700,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 660px) {
  ::-webkit-scrollbar {
    width: 0px;
    background-color: white;
    border: 1px solid black;
  }
}
